body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url(https://funart.pro/uploads/posts/2021-04/1618515463_5-funart_pro-p-oboi-fon-krasno-chernii-fon-5.jpg);
}

form {
  height: 60px;
  width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 0 34px;
}

label {
  width: 100%;
  display: flex;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  border: 2px solid #ffffff;
  transform: skewX(-50deg);
}

input {
  width: 100%;
  font-size: medium;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 28px;
  transform: skewX(50deg);
}

button {
  width: 260px;
  background-color: red;
  border: 3px solid #ffffff;
  transform: skewX(-50deg);
  cursor: pointer;
}

p {
  color: #ffffff;
  font-size: medium;
  text-transform: uppercase;
  font-weight: bold;

  transform: skewX(50deg);
}

@media only screen and (max-width: 600px) {
  button,
  label,
  input,
  p {
    transform: none;
  }

  label {
    background-color: rgba($color: #ffffff, $alpha: 0.6);
  }
}
